<h1><%= @user.username %></h1>

<h3>Field</h3>
<p><%= @user.job_field ? @user.job_field : "No field entered" %></p>

<h3>Title</h3>
<p><%= @user.job_title ? @user.job_title : "No title entered" %></p>

<h3>Blurb</h3>
<p> <%= @user.blurb ? @user.blurb : "No blurb entered" %></p>

<% if session[:user_id] == @user.id%>
	<%= link_to "Edit Profile" , edit_user_path(@user) %>
<% end %> 

<h2>User Software</h2>
<ul>
	<% @user_softwares.each do |user_software| %> 
		<li>
			<h3><%= user_software.software.name %> </h3> 
			<p><%= user_software.description %></p>
		</li>
	<% end %> 
</ul>